body
{
	background:#333333;
	color:#FFFFFF;
	text-align:center;
	font-family: Verdana;
}

table
{
	width:100%;
}

#wrapper
{
	width:660px;
	margin:auto;
}

button
{
	cursor: pointer;
}

button.entry
{
	background-color:#FFFFFF;
	border-radius:12px;
	font-size:110%;
	font-weight:bold;
	padding: 20px 23px 0px;
	line-height:1.5;
}

button.unknown
{
	background-color:#999999;
	color:royalblue;
	border-radius:12px;
	font-size:120%;
}

a
{
	color:#FFFFFF;
	font-size:110%;
}

p.patreon
{
	font-size:small;
}
